on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        conf: ["debug", "release"]
    steps:
      - uses: actions/checkout@v5
      - run: PullDocs.bat
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10
          dotnet-quality: ga
      - name: Build
        run: dotnet build -c ${{ matrix.conf }}
      - name: Test
        run: dotnet test -c ${{ matrix.conf }} --no-build
